/* Before/After animate button reflection */
header nav ol > li.play-free:before,
.play-free-now > a:after,
.btn:after{
   content: "";
   position: absolute;
   top: -20%;
   left: -6rem;
   width: 5rem;
   height: 9rem;
   background-color: #fff;
   transform: rotate(15deg);
   transition: .3s;
   opacity: .4;
}
header nav ol > li.play-free:hover:before,
.play-free-now > a:hover:after,
.btn:hover:after{
   left: 105%;
}


/* Button Play Free animation */
.play-free-now > a:hover{
   box-shadow: 0 0 50px 25px#fff;
   animation: pulse 3s infinite;
}

@keyframes pulse {
   0%{
      box-shadow: 0 0 40px 10px#fff;
   }
   50%{
      box-shadow: 0 0 15px 8px#fff;
   }
   100%{
      box-shadow: 0 0 40px 10px#fff;
   }
}


/* Animate Images */
.image-container:hover{
   transform: scale(1.1)
}
.map-content:after{
   content: "";

   font-family: "Penumbra HalfSerif Std";
   font-size: 3rem;
   text-transform: uppercase;
   letter-spacing: 1rem;
   color: #fff;
   background-color: rgba(0,0,0,.5);
   
   width: 96%;
   height: 88%;

   display: flex;
   justify-content: center;
   align-items: center;

   position: absolute;
   left: 2.2%;
   top: 5%;
   
   cursor: pointer;
   opacity: 0;
   transition: .5s;
}
.map-content:first-child:hover:after{
   content: "Arena";
}
.map-content:nth-child(2):after{
   content: "Conquest"
}
.map-content:nth-child(3):after{
   content: "Assault"
}
.map-content:nth-child(4):after{
   content: "Joust"
}
.map-content:nth-child(5):after{
   content: "Siege"
}
.map-content:last-child:after{
   content: "Clash"
}
.map-content:hover:after{
   opacity: 1;
} 