footer{
   background-color: var(--darkBlue);
   width: 100%;
   padding: 1rem 0 0;
   border-top: 1px solid var(--borderFooter);
}
footer > .container,
footer > .footer-menu > .footer-menu-container,
footer > .footer-copyright > .footer-copyright-container{
   max-width: 2000px;
   margin: 0 auto;
}
footer > .container{
   padding: 1rem 10rem 2rem;
}
.media-socials{
   display: flex;
   justify-content: space-between;
}
.socials{
   display: flex;
   width: 45rem;
   justify-content: space-around;
   align-items: center;
}
.socials-content{
   display: flex;
   justify-content: center;
   align-items: center;
}
.socials-content > i{
   width: 3.8rem;
   height: 3.8rem;
   font-size: 2rem;

   border: 1px solid var(--white);
   border-radius: 50%;
   color: var(--white);

   display: flex;
   justify-content: center;
   align-items: center;

   transition: ease-in .15s;
}
.socials-content > i:hover{
   background-color: var(--white);
   color: var(--darkBlue);
}
.back-top {
   display: flex;
   align-items: center;
   color: var(--white);
}
.back-top > p {
   padding: 0 1rem;
   font-weight: 700;
}
.back-top > .back-top-icon{
   display: flex;
   align-items: center ;
   justify-content: center; 
   border: 2px solid var(--white);
   border-radius: 50%;
   width: 2.7rem;
   height: 2.7rem;
   padding-left: 1px;
   transition: linear .15s;
}
.back-top-icon > i{
   font-size: 1.5rem;
   transform: rotate(90deg);
}
.back-top-icon:hover{
   transform: scale(1.2);
}



/* Footer Menu*/
.footer-menu{
   border-top: 1px solid var(--borderFooter);
}
.footer-menu-container{
   color: var(--white);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4rem 10rem 4rem 13rem;
}
.footer-menu-container > nav {
   color: var(--grey);
   display: flex;
   justify-content: space-between;
   width: 53rem;
}
.footer-menu-container nav ul li {
   line-height: 4.3rem;
   transition: .3s;
}
.footer-menu-container nav ul li:hover {
   color: var(--pastelYellow)
}


/* Rating Age */
.rating-age{
   display: flex;
   justify-content: space-between;
   width: 28rem
}
.rating-age p{
   font-weight: 400;
   font-size: 1rem;
}
.esrb p{
   position: absolute;
   max-width: 18rem;
   margin-top: .7rem;
}
.game-contain{
   line-height: 2rem;
}


/* Copyright */
.footer-copyright{
   background-color: var(--white);
   font-size: 1.4rem;
   color: var(--darkGrey);
   padding: 1.5rem 11rem;
}
.footer-copyright-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu-other > nav ul{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.menu-other > nav ul li{
   padding: 0 1.5rem;
   border-right: 1px solid var(--darkGrey);
   text-align: center;
   vertical-align: middle;
   height: 1.2rem;
   line-height: 1.2rem;
   cursor: pointer;
}
.menu-other > nav ul li:hover{
   text-decoration: underline;
}
.menu-other > nav ul li:first-child{
   height: 3.2rem;
}
.menu-other > nav ul li:first-child,
.menu-other > nav ul li:last-child{
   border: none;
}
.copyright{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 43rem;
}
.copyright img {
   width: 5rem;
   vertical-align: super;
}
.hirez-footer-mobile{
   display: flex;
   justify-content: center;
   display: none;
}