.game-modes{
   background-image: url('../images/game-modes/gamemodes-bg-arena.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 2rem 0 4rem;
   border-top: 1px solid #85784a;
}
.info-mode-container {
   margin-top: 30rem;
   text-align: center;
}
.info-mode-container > .title-desc > h3 {
   font-family: "Penumbra Flare Std";
   font-weight: 100;
   color: #d1c084;
   font-size: 5.3rem;
   letter-spacing: 5px;
}
.info-mode-container > .title-desc > p {
   color: #fff;
   font-weight: 100;
   line-height: 3rem;
   max-width: 80rem;
   min-height: 13rem;
   margin: 0 auto;
   padding: 2rem;
}
.info-mode {
   font-family: "Penumbra HalfSerif Std";
   display: flex;
   justify-content: space-between;
   max-width: 66rem;
   margin: 0 auto;
}
.info-mode p{
   font-family: 'Roboto', sans-serif;
   font-size: 1.4rem;
   font-weight: 500;
   color: #d1c084;
   text-transform: uppercase;
   padding-top: 1rem;
}
.info-mode span{
   color: #fff;
   font-weight: 100;
}
.info-mode b{
   color: #fff;
}


.maps-container{
   display: flex;
   flex-wrap: wrap;
   max-width: 250rem;
   justify-content: center;
   margin: 3.5rem 0;
}
.map-content{
   position: relative;
   padding: .8rem;
}
.map-content > img{
   border: 1px solid #85784a;
}


/* Mobile */
.map-container-mobile,
.map-content-mobile,
.map-content-img-mobile{ 
   padding: 0;
   margin: 0;
   border: none;
   width: 100%;
}
.map-container-mobile {
   display: none;
   margin: 3rem 0;
}
.map-container-mobile p {
   font-family: "Penumbra HalfSerif Std";
   font-size: 2.2rem;
   letter-spacing: .4rem;
   color: white;
   text-align: center;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.map-content-mobile{
   position: relative;
}
.buttons-slide{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
}
.next,
.prev{
   color: rgba(255, 255, 255, 0.527);
   font-size: 4rem;
   display: flex;
   align-items: center;
   cursor: pointer;
   height: 100%;
   padding: 0 1rem;
   background: linear-gradient(270deg, transparent 0, rgba(0,0,0,.14) 24%, #000);
}
.next{
   transform: rotate(180deg);
}
.prev{
   transform: rotate(360deg);
}
