.gods{
   background-image: url('../images/gods-preview/gods-bkg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0 top;
   border-top: 1px solid var(--pastelYellow);
   padding-top: 5rem;
}
.gods-wraper{
   margin: 0 auto;
   max-width: 120rem;
   width: 100%;
   display: flex;
   height: 100rem;
}
.gods-aside{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-evenly;
   z-index: 1;
   margin-top: 5rem;
   height: 94rem;
}
.small-god-container{
   cursor: pointer;
   width: 126px;
   height: 128px;
}
.small-god-container:before{
   content: "";
   width: 4rem;
   height: 3rem;
}
.small-god-container > p {
   color: var(--white);
   font-family: 'Penumbra HalfSerif Std', sans-serif;
   font-weight: 100;
   text-align: center;
   padding: .5rem;
   font-size: 1.3rem;
   display: none;
}
.small-god-img{
   width: 126px;
   height: 128px;
   border: 1px solid var(--pastelYellow);
}
.free-play:before,
.free-to-play:before{
   content: "\26A1";
   font-size: 1.8rem;
   width: 4rem;
   height: 3rem;

   color: transparent;
   background-color: var(--pastelYellow);
   box-shadow: 0 0 1rem var(--black);
   text-shadow: 0 0 0 var(--white);
   
   display: flex;
   justify-content: center;
   align-items: center;
}
.free-play:before{
   position: absolute;
   margin-top: 10px;
   margin-left: -2px;
   transition: ease-in-out .25s;
}
.free-play:hover:before{
   opacity: 0;
}

.small-button-container{
   position: relative;
   top: -60px;
}
.small-button-container-mobile{
   display: none;
}
.free-to-play{
   font-size: 1.4rem;
   text-transform: uppercase;
   color: var(--white);
   font-weight:700;
   align-items: center;
   justify-content: space-evenly;
   display: flex;
   position: relative;
   left: -6.5rem;
   padding: 8rem 0 2rem;
}


.show-gods{
   max-width: 90rem;
   position: relative;
   top: -45px;
   left: -140px;
}
.god-view{
   position: relative;
   left: 0;
   top: 20px;
}
.god-info{
   border: 1px solid var(--borderContainerItens);
   text-align: center;
   background-color: var(--blackRgba7);
   width: 68rem;
   padding: 3rem 0;
   position: relative;
   left: 250px;
   top: -320px;
}
.god-name > h2{
   font-family: "Penumbra HalfSerif Std";
   font-size: 2.6rem;
   color: var(--white);
   font-weight: 100;
   letter-spacing: .5rem;
   line-height: 3.5rem;
}
.god-name h2 > span{
   color: var(--godBottomName);
}
.god-skills{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 3rem 0;
}
.skills-content{
   border-left: 1px solid var(--borderContainerItens);
   height: 2rem
}
.skills-content:first-child{
   border: none;
}
.skills-content > span{
   font-size: 1.6rem;
   color: var(--pastelYellow);
}
.skills-content{
   display: flex;
   align-items: center;
   padding: 0 20px;
}
.skills-content > img {
   width: 21px;
   margin-right: 4px;
}
.small-god-container{
   transition: linear .2s;
}
.active{
   pointer-events: none;
   outline: 1px solid var(--white);
}
.small-god-container-scale:hover{
   transform: scale(1.3);
}