header{
   color: var(--primaryColorTxt);
   background-color: var(--bgHeader);
   display: flex;
   width: 100%;
   height: 5rem;
   font-size: 1.2rem;
   position: fixed;
   text-transform: uppercase;
   font-family: Roboto;
   font-weight: 500;
   z-index: 5;
}
.logo{
   background-image: url("../images/generals/smite-logo.png");
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: 80%;
   height: 100%;
   width: 16.5rem;
}
header > nav{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
header nav ul, 
header nav ol{
   display: flex;
   align-items: center;
}
header nav ul {
   letter-spacing: 2.3px; 
}
header nav li{
   cursor: pointer;
   align-self: center;
   padding: 10px 16px;
   vertical-align: middle;
}
header nav ul li {
   padding: 1.75rem 1.6rem;
   position: relative;
   transition: .1s;
}
header nav ul li:hover{
   color: #9f9160
}
header nav ul li:after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 0;
   height: .3rem;
   transform: rotate(180deg);
   transition: ease .1s
}
header nav ul li:hover:after{
   width: 100%;
   left: 0;
   background-color: #9f9160;
}
.more{
   display: flex;
   align-items: center;
}
.more span{
   color: #9f9160;
   margin-left: -6.5rem;
   transform: rotate(180deg);
   transition: ease-in .1s;
   padding: 1.5rem 5rem;
   cursor: pointer;
}
.more span:hover {
   transform: rotate(0deg);
}
.dropdown{
   display: none;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   top: 5rem;
   background-color: var(--bgHeader);
   width: 25rem;
}
.drop-links:after{
   content: "";
   width: .3rem;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
}
.drop-links:hover:after{
   background-color: #9f9160;
}
.drop-links{
   padding: 1rem 1rem;
   display: flex;
   justify-content: space-between;
   position: relative;
}
.drop-links:hover{
   color: #9f9160;
   background-color: #1e2935;
}
header nav ol{
   background-color: var(--iconsHeaderColorBg);
}
header nav ol > li {
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   height: 50px;
   line-height: 2.3;
   margin: 0 1px;
   background-color: hsla(0,0%,100%,.05);
   transition: .1s;
}
header nav ol > li:hover {
   background-color: #354880;
}
header nav ol > li.play-free{
   background-color: #9f9160;
   padding: 13px 38px;
   position: relative;
   color: #fff;
   overflow: hidden;
}

header nav ol li > img{
   width: 22px;
   vertical-align: middle;
}

.header-background{
   background-image: url(../images/generals/smite_website_header.jpg);
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   width: 100%;
   height: 105vh;
}
.play-free-now{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(90deg, transparent 0, rgba(0,0,0,.75) 25%, rgba(0,0,0,.75) 75%, transparent);
   width: 38vw;
   height: 280px;
   text-align: center;
   padding: 35px 0;
   margin: 190px auto;
}

.logo-container > img {
   height: auto;
   width: 440px;
}
.play-free-now > a {
   width: 100%;
   height: auto;
   text-align: center;
   text-decoration: none;
   color: var(--primaryColorTxt);
   letter-spacing: 5px;
   text-transform: uppercase;
   background-color: #1a273b;
   padding: 15px;
   width: 270px;
   border: 2px solid #e9d691;
   font-family: 'Penumbra Flare Std';
   font-size: 1.75rem;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   transition: .05s;
   overflow: hidden;
}
.play-free-now > a:hover{
   box-shadow: 0 0 50px 25px#fff;
}