header{
   color: var(--primaryColorTxt);
   background-color: var(--bgHeader);
   display: flex;
   width: 100%;
   height: 5rem;
   font-size: 1.2rem;
   position: fixed;
   text-transform: uppercase;
   font-family: Roboto;
   font-weight: 500;
   z-index: 5;
}
.nav-mobile{
   display: none;
}
.nav-mobile > ul > div{
   background-color: #1e3372
}
.burguer-container{
   text-align: center;
   padding: 1rem;
   margin-left: -1rem;
   z-index: 5;
}
.burguer-top,
.burguer-bottom{
   display: flex;
}
.burguer-top-left,
.burguer-top-right,
.burguer-bottom-left,
.burguer-bottom-right,
.burguer-center{
   width: 1.1em;
   height: .2em;
   background-color: #fff;
   margin: .25rem 0;
   transition: .15s linear;
}
.burguer-center{
   width: 2.2em;
}
.logo-mobile{
   display: none;
}
.logo{
   background-image: url("../images/generals/smite-logo.png");
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: 80%;
   height: 100%;
   width: 16.5rem;
}
header > nav{
   display: flex;
   justify-content: space-between;
   width: 100vw;
}
header nav.menu-desktop ul, 
header nav.menu-desktop ol{
   display: flex;
   align-items: center;
}
header nav.menu-desktop ul {
   letter-spacing: 2.3px; 
}
header nav li{
   cursor: pointer;
   align-self: center;
   /* padding: 10px 16px; */
   vertical-align: middle;
}
header nav.menu-desktop ul li {
   padding: 1.75rem 1.45rem;
   position: relative;
   transition: .1s;
}
header nav ul li:hover{
   color: #9f9160
}
header nav.menu-desktop ul li:after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 0;
   height: .3rem;
   transform: rotate(180deg);
   transition: ease .1s
}
header nav.menu-desktop ul li:hover:after{
   width: 100%;
   left: 0;
   background-color: #9f9160;
}
.more{
   display: flex;
   align-items: center;
}
.more span{
   color: #9f9160;
   margin-left: -6.5rem;
   transform: rotate(180deg);
   transition: ease-in .1s;
   padding: 1.5rem 5rem;
   cursor: pointer;
}
.more span:hover {
   transform: rotate(0deg);
}
.dropdown{
   display: none;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   top: 5rem;
   background-color: var(--bgHeader);
   width: 25rem;
}
.drop-links:after{
   content: "";
   width: .3rem;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
}
.drop-links:hover:after{
   background-color: #9f9160;
}
.drop-links{
   padding: 1rem 1rem;
   display: flex;
   justify-content: space-between;
   position: relative;
}
.drop-links:hover{
   color: #9f9160;
   background-color: #1e2935;
}
header nav.menu-desktop ol{
   background-color: var(--iconsHeaderColorBg);
}
header nav.menu-desktop ol > li,
.profile-mobile {
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   height: 50px;
   line-height: 2.3;
   margin: 0 1px;
   background-color: hsla(0,0%,100%,.05);
   transition: .1s;
}
header nav.menu-desktop ol > li:hover,
.profile-mobile:hover {
   background-color: #354880;
}
header nav.menu-desktop ol > li.play-free{
   background-color: #9f9160;
   /* padding: 13px 38px; */
   width: 128.27px;
   position: relative;
   color: #fff;
   overflow: hidden;
   letter-spacing: 1px;
}

header nav.menu-desktop ol li > img,
.profile-mobile > img{
   width: 27px;
   vertical-align: middle;
}

.header-background{
   background-image: url(../images/generals/smite_website_header.jpg);
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   width: 100%;
   height: 105vh;
}
.play-free-now{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(90deg, transparent 0, rgba(0,0,0,.75) 25%, rgba(0,0,0,.75) 75%, transparent);
   width: 800px;
   height: 280px;
   text-align: center;
   padding: 35px 0;
   margin: 190px auto;
}

.logo-container > img {
   height: auto;
   width: 440px;
}
.play-free-now > a {
   width: 100%;
   height: auto;
   text-align: center;
   text-decoration: none;
   color: var(--primaryColorTxt);
   letter-spacing: 5px;
   text-transform: uppercase;
   background-color: #1a273b;
   padding: 15px;
   width: 270px;
   border: 2px solid #e9d691;
   font-family: 'Penumbra Flare Std';
   font-size: 1.75rem;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   transition: .05s;
   overflow: hidden;
}
