@font-face {
   font-family: "Penumbra HalfSerif Std";
   src: url('../fonts/penumbra-half-serif.ttf');
}
@font-face {
   font-family: "Penumbra Flare Std";
   src: url('../fonts/penumbra-flare.ttf')
}
:root{
   /* Neutral Color */
   --black: #000;
   --darkGrey: #848484;
   --darkBlue: #071325;
   --darkGrey: #848484;
   --grey: #bcbcbc;
   --greyYellow: #ada176;
   --pastelYellow: #85784a;
   --strawYellow: #9f9160;
   --white: #fff;
   --yellow: #d1c084;

   /* Items Color */
   --bgHeader: #05111e;
   --bgIconsHeader: #1e3372;
   --bgMenuHover: #1e2935;
   --bgPlayFreeNow: #1a273b;
   --bgNews: #071425;
   --bgPromoNewsItens: #050d1a;
   --bgScrollbar: #191919;

   --iconsMenu: hsla(0,0%,100%,.05);
   --iconsMenuHover: #354880;

   --borderPlayFreeNow: #e9d691;
   --borderNewsItens: #776f49;
   --borderContainerItens: #49422b;
   --borderFooter: #434343;

   --godBottomName: #e5d9ae;
   
   /* Rgba Color */
   --blackRgba5: rgba(0,0,0,.5);
   --blackRgba7: rgba(0,0,0,.73);
   --greyRgba: rgba(255, 255, 255, 0.527);
  

   /* Mobile menu color */
   --borderMobileMenu: hsla(0,0%,100%,.1);
   --bgHirez: rgba(0,0,0,.1);
   --fillHirez: hsla(0,0%,100%,.2);

   font-size: 62.5%;
}

*,
html{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-size: 1.6rem;
   font-family: 'Roboto', sans-serif;
}
.container{
   max-width: 1370px;
   margin: 0 auto;
   padding: 1rem;
   /* overflow-x: hidden; */
}
a{
   background-color: transparent;
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}
li {
   list-style: none;
}

.title-header {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 120rem;
   margin: 2rem auto;
}
.title-header > h2{
   font-size: 2.5rem;
   text-transform: uppercase;
   letter-spacing: 7px;
   font-family: "Penumbra HalfSerif Std";
   font-weight: 100;
   color: var(--white);
}
.title-header:before{
   background: linear-gradient(270deg,#85784a 60%,transparent);
   margin-left: 0;
   margin-right: 2rem
}
.title-header:after{
   background: linear-gradient(90deg,#85784a 60%,transparent);
   margin-left: 0;
   margin-right: 2rem
}
.title-header:after,
.title-header:before{
   content: "";
   flex: 1 1;
   height: 1px;
   margin: 1rem;
}

.btn{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   border: 3px solid var(--pastelYellow);
   box-shadow: 0 0 13px 3px rgb(0 0 0 / 75%);
   background: linear-gradient(
      180deg,#131b28 0,
      #131b28 50%,#131b28 0,
      #050d1a 0,#050d1a
   );
   font-family: "Penumbra HalfSerif Std", sans-serif;
   letter-spacing: 4px;
   color: var(--greyYellow);
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: .6s;
}
.btn-large{
  font-size: 1.6rem;
  width: 270px;
  min-height: 7rem;
  padding: 1rem;
}
.btn-small{
   font-size: 1.3rem;
   width: 185px;
   min-height: 5rem;
   padding: 1rem;
 }
 .btn:hover{
   background: linear-gradient(
      180deg,#182841 0,
      #182841 50%,#182841 0,
      #0b1b35 0,#0b1b35
   );
   color: var(--white);
 }

 ::-webkit-scrollbar {
   background-color: var(--bgScrollbar);
   height: .5rem;
   width: .5rem;
}
::-webkit-scrollbar-thumb {
   background-color: var(--pastelYellow);
}