.menu-mobile,
.more-mobile-container{
   position: fixed;
   left: -100%;
   top: 0;
   background-color: var(--bgHeader);
   width: 75vw;
   height: 100vh;
   display: none;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   transition: .2s;
}
.more-mobile-container{
   display: none;
   left: -100%;
   top: 166.4px;
}
.menu-mobile-content,
.more-mobile-content{
   height: 100vh;
   width: inherit;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow-y: auto;
   overflow-x: hidden;
}
.more-mobile-content{
   position: fixed;
}
.menu-mobile-options,
.more-options-container{
   display: flex;
   flex-direction: column;
   width: 100%;
}
.menu-mobile-options > a,
.more-options-container > a,
.mobile-more{
   padding: 1.5rem 2rem;
   width: 75vw;
   border-top: 1px solid var(--borderMobileMenu);
   letter-spacing: .2rem;
   font-weight: 400;
}
.more-options-container > a{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: none;
   border-bottom: 1px solid var(--borderMobileMenu);
}
.more-options-container a:first-child{
   display: block;
   border-top: 1px solid var(--borderMobileMenu);
}
.more-options-container a:first-child:hover{
   color: inherit;
}
.more-options-container a:first-child > i {
   margin-right: 2rem;
   transform: none !important;
}
.menu-mobile-options > a,
.more-options-container > a {
   transition: .1s;
}
.mobile-more{
   display: flex;
   justify-content: space-between;
}
.mobile-more:hover,
.more-options-container > a:hover{
   background-color: var(--bgMenuHover);
}
.more-options-container a:before{
   content: "";
   width: .3rem;
   height: 100%;
   position: absolute;
   left: 0;
}
.more-options-container a:hover:before{
   background-color: var(--strawYellow);
}
.more-options-container > a:first-child:before{
   content: none;
}
.mobile-more > i,
.more-options-container a:first-child > i{
   transform: rotate(180deg);
   color: var(--strawYellow);
   font-size: 1.6rem;
}
.menu-mobile-options > a:hover,
.more-options-container > a:hover {
   color: var(--strawYellow);
}
#hirez-logo{
   width: 460px;
   max-width: 100%;
   fill: var(--fillHirez);
}
.hirez-logo{
   width: 100%;
   text-align: center;
   padding: 3rem;
   background-color: var(--bgHirez);
   border-top: 1px solid var(--borderMobileMenu);
   cursor: initial;
}
.logo-aside{
   margin : 0 auto;
   width: 75% !important;
   max-width: 25rem;
   height: 20rem !important;
   background-size: contain !important;
}

.overlay{
   background-color: var(--blackRgba7);
   width: 100%;
   height: 100vh;
   position: fixed;
   display: none;
   z-index: 2;
}