.news{
   background-color: #071425;
   text-align: center;
   color: var(--primaryColorTxt);
   background-image: url('../images/news/newsBkg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-top: 1px solid #85784a;
}
.alien-content{
   margin-top: 50px;
}
.alien-content > p {
   font-family: "Penumbra HalfSerif Std";
   font-size: 1.4rem;
   letter-spacing: 1.2px;
   font-weight: 100;
}
.alien-content > img{
   width: 250px;
   margin: 15px 0 50px;
}


/* News Latest */
.news-wraper{
   margin: 0 auto 3.5rem;
   max-width: 120rem;
   padding-top: 5rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.news-aside,
.promotional-container-top,
.promotional-container-bottom{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-around;
   width: 58rem;
}
.new-title,
.promotional-title-top,
.promotional-title-bottom{
   display: inline-block;
   width: 28.2rem;
   border: 1px solid #85784a;
   background-color: #050d1a;
   box-shadow: 0 0 13px 3px rgb(0 0 0 / 75%);
   margin: 1rem 0;
}
.new-content-image,
.promotional-content-image{
   overflow: hidden;
}
.image-container{
   background-size: cover;
   background-position: 50%;
   background-repeat: no-repeat;
   height: 18rem;
   transition: .2s;
}
.new1{
   background-image: url('../images/news/skillshot.jpg');
}
.new2{
   background-image: url('../images/news/updateNotesMonsterCat.webp');
   height: 21.2rem;
}
.new3{
   background-image: url('../images/news/persephone.webp');
   height: 16rem;
}
.new4{
   background-image: url('../images/news/updateNotesKingUruk.webp');
}
.new5-right{
   background-image: url('../images/news/gilgamesh.webp');
   height: 45rem;
}
.new-info,
.promotional-info{
   position: relative;
   font-family: "Penumbra HalfSerif Std";
}
.info-icon{
   width: 4.8rem;
   height: 4.8rem;
   border: 2px solid #776f49;
   border-radius: 50%;
   background-color: #071325;
   justify-content: center;
   position: absolute;
   right: 0;
   left: 0;
   top: -2.5rem;
   margin: 0 auto;
}
.info-icon .icon{
   background-repeat: no-repeat;
   background-size: contain;
   width: 23px;
   height: 23px;
   position: absolute;
   top: 25%;
   left: 25%;
}
.icon-star{
   background-image: url('../images/news/star.png');
}
.icon-update{
   background-image: url('../images/news/message.png');
}
.icon-message{
   background-image: url('../images/news/message.png');
}
.icon-note{
   background-image: url('../images/news/note.png');
   top: 25% !important;
   left: 31% !important;
   width: 21px !important;
   height: 21px !important
}
.info-container{
   border-top: 1px solid #49422b;
   height: 6.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.info-container .headline{
   font-weight: 100;
   font-size: 1.5rem;
   line-height: 1.4;
   padding: 0 2.7rem;
   text-align: center;
   letter-spacing: 3px;
}
.info-container-notes{
   height: 3.2rem;
}
.info-container-name{
   color: #ada176;
   font-size: 1.4rem;
   height: 4rem;
   border-top: 1px solid #49422b;
   display: flex;
   justify-content: center;
   align-items: center;
}
.headline-container{
   height: 3.2rem;
   border-top: 1px solid #776f49;
}
.headline-update{
   height: 1rem;
}
.info-container-update{
   height: 7.59rem;
}
.info-container-update .headline{
   margin-top: 25px;
}
.sub-headline-update{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #49422b;
   height: 4rem;
}
.sub-headline-update > p{
   font-size: 1.2rem;
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   color: #85784a;
   align-content: center;
   padding: 0 5px;
}
.new-title-right{
   width: 58.1rem;
}
.new-info-right-container{
   border: 1px solid #49422b
}
.new-info-right{
   padding: 1.2rem;
}
.info-container-right{
   height: 6rem;
}
.info-icon-right{
   width: 5.8rem;
   height: 5.8rem;
}
.info-icon-right > .icon {
   top: 20%;
   left: 20%;
   width: 33px;
   height: 33px;
   background-image: url('../images/news/iconBabylonianWhite.webp');
}
.info-container-right > .headline{
   font-size: 1.8rem;
   letter-spacing: 3px;
   padding-top: 1.5rem;
   line-height: 5rem;
}


/* Promotional Events */
.promotional-events{
   margin: 7rem 0;
}
.promotional-container-top{
   margin: 7rem auto 0;
   width: 100%;
   max-width: 119rem;
}
.promotional-title-top{
   width: 58rem;
}

.promotional-container-bottom{
   flex-direction: row;
   width: 100%;
   max-width: 119rem;
   margin: 0 auto;
}
.promo-info{
   height: 4.4rem;
}
.promo1{
   background-image: url('../images/promotional-events/hotwbp_home.webp');
   width: 58.6rem;
   height: 20rem;
}
.promo2{
   background-image: url('../images/promotional-events/1024x512websitemaksffbf.jpg');
   width: 58.6rem;
   height: 20rem;
}
.promo3{
   background-image: url('../images/promotional-events/GemStorm-FeaturedBlogIMG-280x160.jpg');
}
.promo4{
   background-image: url('../images/promotional-events/olympian-home-page-icon.jpg');
}
.promo5{
   background-image: url('../images/promotional-events/skillshot.jpg');
}
.promo6{
   background-image: url('../images/promotional-events/swc-web-panel.jpg');
}